*/__pycache__/
*.pyc
*.txt
input/data.csv
input/estensi.glb
input/map.png
input/images/*
!input/images/.gitkeep
input/videos/*
!input/videos/.gitkeep
output/images/*
!output/images/.gitkeep
output/videos/*
!output/videos/.gitkeep
.idea
./conf.json
