*/__pycache__/
*.pyc
*.txt
input/data.csv
input/estensi.glb
input/map.png
input/images/*
!input/images/.gitkeep
input/videos/*
!input/videos/.gitkeep
output/images/*
!output/images/.gitkeep
output/videos/*
!output/videos/.gitkeep
.idea
conf.json
yolo/yolov3.weights
yolo/det
yolo/imgs
yolo_training/cfg/yolov3.weights
yolo_training/cfg/*.weights
yolo_training/checkpoints
yolo_training/data
yolo_training/det
yolo_training/imgs
yolo_training/imgs_1
Segmentation/
